<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>aea067d4-3794-4ade-bdc3-bc8f9a7ae9ac</id>
  <name>Job Builder</name>
  <order>0</order>
  <icon type="FontAwesome" source="calendar-plus" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="55d06096-83fe-4acf-86ef-586d254e5170" name="Common Types" module="Intent.Common.Types" />
    <designerReference id="1ed19945-ade6-497e-9884-8108434c79bd" name="Job Types" module="TFG.Modelers.Scheduler" />
  </designerReferences>
  <packageReferences />
</config>